<!DOCTYPE html>
<html class="h-full bg-white">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />        -->
        {% block head %}{% endblock %}
    </head>
    <body class="font-sans antialiased text-gray-600">
        <header class="bg-white">
            <nav class="mx-auto flex max-w-full items-center justify-start py-3 px-3 mb-3 gap-8">
                <div class="flex">
                    <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">Manual Solar Energy</span>
                        <img class="max-h-10" src="{{ url_for('static', filename='solar-panel.png') }}" />
                    </a>
                </div>
                <a href="/" class="text-sm/6 font-semibold text-gray-900">All Records</a>
                <a href="/bulk" class="text-sm/6 font-semibold text-gray-900">Bulk Insert</a>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer class="mt-8 p-8 text-center text-sm text-gray-400">
            <div>
                Created by <a href="https://github.com/lunzai" target="_blank">Lunzai</a>.
            </div>
            <div>
                <a href="https://www.flaticon.com/free-icons/sun" title="sun icons" target="_blank">Sun icons created by Freepik - Flaticon</a>
            </div>
        </footer>
    </body>
</html>